.boton-aside {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-family:  'anton',sans-serif;
    font-size: 30px;
    height: 40px;
    color:black;
    cursor: pointer; 
    padding: 15px;
    outline: none;
    border: none;
}

.boton-aside:hover {
    background-color: rgb(126, 159, 219);
    transition: background-color .4s ease-in;
    border-radius: 25px;
}

@media screen and (max-width: 855px) {

    .boton-responsive:hover {
        background-color: rgb(126, 159, 219);
        transition: background-color .4s ease-in;
        border-radius: 25px;
        height: 73px;
    }

    .boton-aside {
        margin:25px 0px 25px 0px;
    }

}